/* Custom functions */
@import "functions";
@import "loader";

/* Custom variables */
$mainBlack: black;
$lightBlack: rgba(0, 0, 0, 0.9);
$greyBlack: rgba(100, 100, 100, 0.5);
$mainWhite: white;
$lightWhite: rgba(239, 239, 239, 0.9);
$darkWhite: rgba(202, 202, 202, 0.8);
$orange: #b3685d;

/* Bulma overrides */
$text: $mainWhite;
$navbar-item-color: $mainWhite;
$navbar-item-hover-color: $mainWhite;
$navbar-item-hover-background-color: $lightBlack;
$section-padding: 5rem 1.5rem;
$link: $mainWhite;
$link-hover: $mainWhite;

@import "../../node_modules/bulma/bulma";

body {
  height: 100%;
  min-height: 100vh;
  background-color: $lightBlack;

  .navbar {
    background-color: $mainBlack;
    padding: 10px;

    * {
      visibility: visible;
      z-index: 12;
    }

    .navbar-brand.logoContainer img {
      max-height: none !important;
    }

    .navbar-brand:focus-within {
      pointer-events: none;

      + #nav-content {
        transform: none;
      }

      + #nav-overlay {
        display: block;
      }
    }

    #nav-content:focus-within {
      transform: none;
    }

    #nav-content {
      z-index: 11;
      margin-top: 81px;
      padding: 20px;
      width: 90%;
      max-width: 300px;
      position: absolute;
      top: 0;
      left: 0;
      height: calc(100vh - 70px);
      background: $white;
      pointer-events: auto;
      -webkit-tap-highlight-color: rgba(0,0,0,0);
      transform: translateX(-100%);
      transition: transform .3s;
      will-change: transform;
      contain: paint;

      input {
        border-radius: unset;
        margin-bottom: 20px;
        border-color: $greyBlack;
      }

      ul {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      li {
        border-bottom: $greyBlack 1px solid;

        &:hover {
          background-color: $darkWhite;
        }

        a {
          padding: 10px 5px;
          display: block;
          text-transform: uppercase;
          transition: color .1s;
          color: $mainBlack !important;
        }
      }
    }

    #nav-overlay {
      display: none;
      width: 100vw;
      height: 100vh;
      top: 0;
      position: fixed;
      left: 0;
      z-index: 10;
      background-color: rgba(0, 0, 0, .5);
    }
  }

  .section {
    .container {
      .columns, .column {
        margin-top: 0.5rem;
        margin-bottom: 0.75rem;

        .fakeHref {
          cursor: pointer;
        }
      }

      .title {
        text-shadow: stroke(1, $orange);
        font-size: 3rem;
        font-style: italic;
        font-weight: 800;
        color: $lightBlack;

        a {
          color: $lightBlack;
        }
      }

      #latestZap {
        background-position: center;
        background-size: contain;
        height: 450px;
        margin-top: -0.75rem;

        .column {
          background: linear-gradient(to left, rgba(0,0,0, 0), rgba(0,0,0, 0.8));
          margin-top: 0;
          margin-bottom: 0;

          .subtitle {
            font-weight: 600;
            font-size: 1.5rem;
            margin-top: 10px;
          }

          .shortDescription {
            text-align: justify;
            font-size: 1rem;
            margin-top: 10px;
            line-height: 1.2rem;
          }

          .details {
            font-weight: 600;
            margin-top: 10px;

            span {
              font-style: italic;
            }
          }
        }
      }

      #donation {
        background-color: $mainBlack;
        border: $orange 2px solid;
        box-sizing: border-box;

        .progression {
          margin-bottom: 10px;

          .progressionBar {
            height: 30px;
            display: block;
            background-color: $orange;
            float: left;
          }

          .progressionText {
            float: left;
            margin-left: 10px;
            text-shadow: stroke(1, $orange);
            font-size: 2rem;
            font-style: italic;
            font-weight: 800;
            line-height: 1.7rem;
            color: $lightBlack;
          }
        }
      }

      #newsletter {
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        .newsletterTitle {
          padding: 8px 30px;
          background-color: $greyBlack;
          font-weight: 800;
        }

        input {
          border-radius: unset;
          border: none;
          background-color: $lightWhite;

          &::placeholder {
            color: $mainBlack;
          }
        }
      }

      #share {
        margin-top: 0;
        margin-bottom: 0;
        padding-bottom: 0;

        h2 {
          float: left;
          margin-right: 30px;
        }
        .social {
          width: 50px;
          float: left;
          margin-left: 10px;
        }
      }

      #versions {
        margin-top: 0;

        .column {
          padding-left: 0;
          padding-right: 0;
        }
      }

      form[name="user"] {
        .label {
          color: white;
          text-align: left;
        }
        .icon {
          //color: black !important;
        }
      }
    }
  }
}